<h2 class="home__heading">Your Room</h2>
<div class="home__wrapper">
  <section class="home__info-card">
  <h2 class="home__info-main-heading">Welcome <%= locals.user.firstname%></h2>
  <h3 class="home__user-data-heading">Your information</h3>
    <div class="home__information-wrapper">
      <p class="home__label">Username:</p>
      <p class="home__value"><%= locals.user.username%></p>

      <p class="home__label">First name:</p>
      <p class="home__value"><%= locals.user.firstname%></p>

      <p class="home__label">Last name:</p>
      <p class="home__value"><%= locals.user.lastname%></p>

      <p class="home__label">Email:</p>
      <p class="home__value"><%= locals.user.email%></p>

      <p class="home__label">Registered at:</p>
      <p class="home__value"><%= locals.user.created_at%></p>

      <p class="home__label">Member status:</p>
      <% if (!locals.user.is_member) { %>
        <p class="home__value">Not a member yet</p>
        <% } else { %>
          <p class="home__value">House Member</p>
      <% } %>
    </div>
  <div class="home__buttons-wrapper">
    <div class="home__buttons-wrapper-child">
      <a href="/messages">
          <button class="home__messages-btn btn-filled">
          Messages
        </button>
        </a>
        <a href="/new-message">
          <button class="home__new-message-btn btn-filled">
            New Message
        </button>
        </a>
    </div>
    <% if (!locals.user.is_member) { %>
      <a href="/join"><button class="home__join-btn btn-outlined">Join the Club</button></a>
    <% } %>
  </div>
  <h3 class="home__info-heading">Becoming a house member</h3>
  <p class="home__info-text">
    Insert the secret password to the field on the right in order to join the exclusive membership. Hang out, get noticed, impress and maybe you will be trusted with the secret password. Good luck!
  </p>
</section>

<div class="home__latest-message-wrapper">
  <h3 class="message__heading faded">Latest Message</h3>
<% if (locals.latestMessage){ %>
<section class="post-card faded">
  <h4 class="post-card__title"><%= locals.latestMessage.title %></h4>
  <p class="post-card__text"><%= locals.latestMessage.text %></p>
  <hr class="post-card__hr">
  <div class="post-card__details-wrapper">
    <%  if(locals.user && locals.user.is_member) { %>
      <p class="post-card__posted">
        <strong>Posted:</strong> <%= locals.latestMessage.created_at %>
      </p>
      <p class="post-card__by">
      <strong>By:</strong> <%= locals.latestMessage.username %>
      </p>
    <% } else { %>
      <p class="post-card__posted">
        <strong>Posted:</strong> <img src="/icons/unauthorized.svg" alt="" style="display: inline">
      </p>
      <p class="post-card__by">
      <strong>By:</strong> <img src="/icons/unauthorized.svg" alt="" style="display: inline">
      </p>
    <% } %>
  </div>
</section>
<% } else { %>
<section class="post-card faded">
  <p class="message-error">Sorry. Couldn't fetch the latest message. Try again later...</p>
</section>
<% } %>


<% if (locals.user) { %>

  <h3 class="message__heading faded">Your Last Message</h3>
  <% if (locals.yourLatestMessage){ %>
  <section class="post-card faded">
    <h4 class="post-card__title"><%= locals.yourLatestMessage.title %></h4>
    <p class="post-card__text"><%= locals.yourLatestMessage.text %></p>
    <hr class="post-card__hr">
    <div class="post-card__details-wrapper">
      <p class="post-card__posted">
        <strong>Posted:</strong> <%= locals.yourLatestMessage.created_at %>
      </p>
      <p class="post-card__by">
        <strong>By:</strong> <%= locals.yourLatestMessage.username %>
      </p>
    </div>
  </section>
  <% } else { %>
    <section class="post-card faded">
      <p class="message-error">Sorry. Couldn't fetch your latest message. Try again later or post a message if you haven't...</p>
    </section>
  <% } %>
  <% } %>

</div>
</div>

<script src="/scripts/postCard.js"></script>