<div class="messages__wrapper">
<h3 class="messages__heading">Messages</h3>
<div class="messages__wrapper-child">
  <% if (locals.user) { %>
  <a class="messages__new-message btn-outlined" href="/new-message">
    <img src="/icons/plus.svg" alt="">
  </a>
  <% } else { %>
    <a class="messages__new-message btn-outlined" style="visibility: hidden;" href="/new-message">
      <img src="/icons/plus.svg" alt="">
    </a>
  <% } %>
  <button class="messages__toggle-messages-nav">
    <img src="/icons/triangle.svg" alt="">
  </button>
</div>
</div>
<div class="messages__flex-wrapper">
  <div class="messages__nav">
    <h3 class="messages__nav-heading">NAVIGATION</h3>
    <ol class="messages__nav-list">
      <% if (locals.allMessages) { %>
        <% locals.allMessages.forEach(message => { %>
          <li class="messages__nav-item">
            <a href="#message-<%= message.id %>" class="messages__nav-link">
              <%= message.title %>
            </a>
          </li>
        <% }) %>
      <% } %>
    </ol>
  </div>
<div class="messages__post-card-wrapper">
  <% if (locals.allMessages) {
    locals.allMessages.forEach(message => { %>
      <section class="post-card" id="message-<%= message.id %>">

      <% if (locals.user && locals.user.is_admin) {%>
        <form action="/delete" method="POST">
          <button class="post-card__delete-btn btn-outlined" type="submit" name="id" value="<%=message.id %>">Delete</button>
        </form>
      <% } %>

      <h4 class="post-card__title"><%= message.title %></h4>
      <p class="post-card__text"><%= message.text %></p>
      <hr class="post-card__hr">
      <div class="post-card__details-wrapper">

      <%  if(locals.user && locals.user.is_member) { %>
        <p class="post-card__posted">
          <strong>Posted:</strong> <%= message.created_at %>
        </p>
        <p class="post-card__by">
        <strong>By:</strong> <%= message.username %>
        </p>
      <% } else { %>
        <p class="post-card__posted">
          <strong>Posted:</strong> <img src="/icons/unauthorized.svg" alt="" style="display: inline">
        </p>
        <p class="post-card__by">
        <strong>By:</strong> <img src="/icons/unauthorized.svg" alt="" style="display: inline">
        </p>
      <% } %>

      </div>
  </section>
   <% })} else { %>
    <section class="post-card">
      <h4 class="post-card__title">Error</h4>
      <p class="post-card__text">No messages found</p>
      <p class="post-card__text">Try again later...</p>
      <hr class="post-card__hr">
  </section>
    <% } %>
</div>
</div>


<script src="/scripts/postCard.js"></script>
<script>
  const navToggler = document.querySelector(".messages__toggle-messages-nav");
  const messagesNav = document.querySelector(".messages__nav");
  navToggler.style.rotate = "0deg";

function toggleMessagesNav() {
  messagesNav.classList.toggle("messages__nav-open");
  navToggler.style.rotate = navToggler.style.rotate === "0deg" ? "180deg" : "0deg";
  navToggler.classList.toggle('sticky');
}

navToggler.addEventListener("click", toggleMessagesNav);

document.addEventListener("click", (e) => {
  const isClickInside = messagesNav.contains(e.target) || navToggler.contains(e.target);
  if (!isClickInside) {
    messagesNav.classList.remove("messages__nav-open");
  }
});

const navLinks = document.querySelectorAll(".messages__nav-link");

navLinks.forEach(link => {
  link.addEventListener("click", toggleMessagesNav);
});
</script>